.cardCover{
    width: 9rem;
    height: 12rem;
}

.cardWrapper{
    height: 12rem;
    width: 24rem;
}

.main{
    max-width: 100vw!important;
}

.cardBody{
    width: 96% !important;
}

.cardText{
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    line-clamp: 4 !important;
    -webkit-line-clamp: 4 !important;
    overflow: hidden;
}

.clickable{
    cursor: pointer;
}

.titleInput{
    display: inline !important;
    width: 70% !important;
}

.auInput{
    display: inline !important;
    width: 70% !important;
}

.filterSelect{
    display: inline !important;
    width: 100% !important;
}

#filters{
    position: fixed;
    right: 0;
}

.form-check-label{
    opacity: .90 !important;
}

.form-check-input{
    opacity: .90 !important;
}