<div class="conatiner-fluid main">
    <div class="container-fluid serials">
        <div class="container-fluid">
            <h3>Waiting for review:</h3>
            <div class="ms-4" *ngIf="unReviewedSerials.length == 0 && !loadingSerials">
                <h5>---None left!---</h5>
            </div>
            <div *ngIf="loadingSerials" class="d-flex align-items-center ms-4 me-5 mb-2" role="status">
                <div class="me-1">Loading Serials...</div>
                <div class="spinner-border text-success spinner-border-sm"></div>
            </div>
            <div class="accordion" id="unrevSerialAccordion">
                <div class="accordion-item p-2" *ngFor="let serial of unReviewedSerials">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed bg-danger-subtle" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#serial' + serial.id" aria-expanded="false" [attr.aria-controls]="'serial' + serial.id">
                            {{serial.title}}
                        </button>
                    </h2>
                    <div [id]="'serial' + serial.id" class="accordion-collapse collapse" data-bs-parent="#unrevSerialAccordion">
                        <div class="accordion-body">
                            <div class="container border border-info-subtle border-3 rounded-2">
                                <div class="row align-items-center my-1 p-1">
                                    <div class="col-auto border border-2">
                                        <p class="m-1">{{serial.id}}</p>
                                    </div>
                                    <div class="col-auto">
                                        <label for="title">Title:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="title" class="form-control" [(ngModel)]="serial.title">
                                    </div>
                                    <div class="col-auto">
                                        <label for="authorId">Author Id:</label>
                                    </div>
                                    <div class="col-auto border border-2">
                                        <p class="m-1">{{serial.authorId}}</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="m-1">Author's Name:</p>
                                    </div>
                                    <div class="col-md-3 flex-grow-1">
                                        <input type="text" id="authorName" class="form-control" [(ngModel)]="serial.author.name">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="homePg">Home Page:</label>
                                    </div>
                                    <div class="col-md-10 flex-grow-1">
                                        <input type="text" class="form-control" id="homePg" [(ngModel)]="serial.home">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="titleXP">Title XPath:</label>
                                    </div>
                                    <div class="col-md-10 flex-grow-1">
                                        <input type="text" class="form-control" [(ngModel)]="serial.titleXPath">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="firstCh">First Chapter Link:</label>
                                    </div>
                                    <div class="col-md-8 flex-grow-1">
                                        <input type="text" id="firstCh" class="form-control" [(ngModel)]="serial.firstCh">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="XPath1">Next Chapter XPath:</label>
                                    </div>
                                    <div class="col-md-8 flex-grow-1">
                                        <input type="text" id="XPath1" class="form-control" [(ngModel)]="serial.nextChLinkXPath">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="XPath2">Secondary Next Chapter XPath:</label>
                                    </div>
                                    <div class="col-md-8 flex-grow-1">
                                        <input type="text" id="XPath2" class="form-control" [(ngModel)]="serial.secondaryNextChLinkXPath">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="XPath3">Other Next Chapter XPath:</label>
                                    </div>
                                    <div class="col-md-8 flex-grow-1">
                                        <input type="text" id="XPath3" class="form-control" [(ngModel)]="serial.otherNextChLinkXPaths">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="XPath3">Status:</label>
                                    </div>
                                    <div class="col-md-8 flex-grow-1">
                                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" [name]="'radio' + serial.id" id="completed-{{serial.id}}" (click)="serial.status = completeU.value" #completeU [checked]="serial.status == completeU.value" [value]="1">
                                            <label class="btn btn-outline-primary" for="completed-{{serial.id}}">Completed</label>
                                        
                                            <input type="radio" class="btn-check" [name]="'radio' + serial.id" id="ongoing-{{serial.id}}" (click)="serial.status = ongoingU.value" #ongoingU [checked]="serial.status == ongoingU.value" [value]="2">
                                            <label class="btn btn-outline-primary" for="ongoing-{{serial.id}}">Ongoing</label>
                                        
                                            <input type="radio" class="btn-check" [name]="'radio' + serial.id" id="hiatus-{{serial.id}}" (click)="serial.status = hiatusU.value" #hiatusU [checked]="serial.status == hiatusU.value" [value]="3">
                                            <label class="btn btn-outline-primary" for="hiatus-{{serial.id}}">Hiatus</label>
                                        
                                            <input type="radio" class="btn-check" [name]="'radio' + serial.id" id="abandoned-{{serial.id}}" (click)="serial.status = abandonedU.value" #abandonedU [checked]="serial.status == abandonedU.value" [value]="4">
                                            <label class="btn btn-outline-primary" for="abandoned-{{serial.id}}">Abandoned</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-auto">
                                        <div class="card bg-warning mw-100 overflow-hidden">
                                            <div class="card-header mt-1">
                                                <strong class="text-primary">Upload cover/banner image:</strong>
                                            </div>
                                            <div class="card-body m-0 p-1">
                                                <div class="input-group">
                                                    <input #imageInput type="file" accept="image/*" (change)="fileSelect($event, serial.id, false)" class="form-control" id="fileInput">
                                                </div>
                                            </div>
                                            <div class="card-body p-2">
                                                <div class="d-flex justify-content-center imgContainer">
                                                    <img [src]="'https://localhost:7286/Serials/images/' + serial.title" #imageDisplay class="img-fluid imgPrev" alt="Loading cover image...">
                                                </div>
                                                <small class="text-center d-block mt-2">
                                                    Uploaded images will be resized and saved in .png format.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col me-0 my-0 ms-2">
                                        <div class="row">
                                            <label class="mb-3 ps-0" for="desc">Description/Blurb:</label>
                                        </div>
                                        <div class="row pe-2">
                                            <textarea name="description" id="desc" [(ngModel)]="serial.description" class="form-control mh-100" rows="15"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-1 align-items-center">
                                    <div *ngIf="!deleting && !modifying && !approving">
                                        <div class="col  my-1">
                                            <button class="btn btn-success form-control" (click)="approveSerial(serial.id, true)">Approve</button>
                                        </div>
                                        <div class="col my-1">
                                            <button class="btn btn-warning form-control" (click)="modifySerial(serial)">Modify</button>
                                        </div>
                                        <div class="col my-1">
                                            <button class="btn btn-danger form-control" (click)="deleteSerial(serial.id)">Delete</button>
                                        </div>
                                    </div>
                                    <div *ngIf="approving" class="d-flex align-items-center me-5 my-2" role="status">
                                        <div class="me-1">Approving...</div>
                                        <div class="spinner-border text-success spinner-border-sm"></div>
                                    </div>
                                    <div *ngIf="modifying" class="d-flex align-items-center me-5 my-2" role="status">
                                        <div class="me-1">Modifying...</div>
                                        <div class="spinner-border text-warning spinner-border-sm"></div>
                                    </div>
                                    <div *ngIf="addingChs" class="d-flex align-items-center me-5 my-2" role="status">
                                        <div class="me-1">Adding chapters...</div>
                                        <div class="spinner-border text-primary spinner-border-sm"></div>
                                    </div>
                                    <div *ngIf="deleting" class="d-flex align-items-center me-5 my-2" role="status">
                                        <div class="me-1">Updating...</div>
                                        <div class="spinner-border text-danger spinner-border-sm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h3>Reviewed Serials:</h3>
            <div class="ms-4" *ngIf="reviewedSerials.length == 0 && !loadingSerials">
                <h5>---No reviewed serials---</h5>
            </div>
            <div *ngIf="loadingSerials" class="d-flex align-items-center ms-4 me-5 mb-2" role="status">
                <div class="me-1">Loading Serials...</div>
                <div class="spinner-border text-success spinner-border-sm"></div>
            </div>
            <div class="accordion" id="revSerialAccordion">
                <div class="accordion-item p-2" *ngFor="let serial of reviewedSerials">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed bg-success-subtle" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#serial' + serial.id" aria-expanded="false" [attr.aria-controls]="'serial' + serial.id">
                            {{serial.title}}
                        </button>
                    </h2>
                    <div [id]="'serial' + serial.id" class="accordion-collapse collapse" data-bs-parent="#revSerialAccordion">
                        <div class="accordion-body">
                            <div class="container border border-info-subtle border-3 rounded-2">
                                <div class="row align-items-center my-1 p-1">
                                    <div class="col-auto border border-2">
                                        <p class="m-1">{{serial.id}}</p>
                                    </div>
                                    <div class="col-auto">
                                        <label for="title">Title:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="title" class="form-control" [(ngModel)]="serial.title">
                                    </div>
                                    <div class="col-auto">
                                        <label for="authorId">Author Id:</label>
                                    </div>
                                    <div class="col-auto border border-2">
                                        <p class="m-1">{{serial.authorId}}</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="m-1">Author's Name:</p>
                                    </div>
                                    <div class="col-md-3 flex-grow-1">
                                        <input type="text" id="authorName" class="form-control" [(ngModel)]="serial.author.name">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="homePg">Home Page:</label>
                                    </div>
                                    <div class="col-md-10 flex-grow-1">
                                        <input type="text" class="form-control" id="homePg" [(ngModel)]="serial.home">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="titleXP">Title XPath:</label>
                                    </div>
                                    <div class="col-md-10 flex-grow-1">
                                        <input type="text" class="form-control" [(ngModel)]="serial.titleXPath">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="firstCh">First Chapter Link:</label>
                                    </div>
                                    <div class="col-md-8 flex-grow-1">
                                        <input type="text" id="firstCh" class="form-control" [(ngModel)]="serial.firstCh">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="XPath1">Next Chapter XPath:</label>
                                    </div>
                                    <div class="col-md-8 flex-grow-1">
                                        <input type="text" id="XPath1" class="form-control" [(ngModel)]="serial.nextChLinkXPath">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="XPath2">Secondary Next Chapter XPath:</label>
                                    </div>
                                    <div class="col-md-8 flex-grow-1">
                                        <input type="text" id="XPath2" class="form-control" [(ngModel)]="serial.secondaryNextChLinkXPath">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="XPath3">Other Next Chapter XPath:</label>
                                    </div>
                                    <div class="col-md-8 flex-grow-1">
                                        <input type="text" id="XPath3" class="form-control" [(ngModel)]="serial.otherNextChLinkXPaths">
                                    </div>
                                </div>
                                <div class="row align-items-center my-1">
                                    <div class="col-auto">
                                        <label for="XPath3">Status:</label>
                                    </div>
                                    <div class="col-md-8 flex-grow-1">
                                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" [name]="'radio' + serial.id" id="completed-{{serial.id}}" (click)="serial.status = completeR.value"  #completeR [checked]="serial.status == completeR.value" [value]="1">
                                            <label class="btn btn-outline-primary" for="completed-{{serial.id}}">Completed</label>
                                        
                                            <input type="radio" class="btn-check" [name]="'radio' + serial.id" id="ongoing-{{serial.id}}" (click)="serial.status = ongoingR.value"  #ongoingR [checked]="serial.status == ongoingR.value" [value]="2">
                                            <label class="btn btn-outline-primary" for="ongoing-{{serial.id}}">Ongoing</label>
                                        
                                            <input type="radio" class="btn-check" [name]="'radio' + serial.id" id="hiatus-{{serial.id}}" (click)="serial.status = hiatusR.value"  #hiatusR [checked]="serial.status == hiatusR.value" [value]="3">
                                            <label class="btn btn-outline-primary" for="hiatus-{{serial.id}}">Hiatus</label>
                                            
                                            <input type="radio" class="btn-check" [name]="'radio' + serial.id" id="abandoned-{{serial.id}}" (click)="serial.status = abandonedR.value"  #abandonedR [checked]="serial.status == abandonedR.value" [value]="4">
                                            <label class="btn btn-outline-primary" for="abandoned-{{serial.id}}">Abandoned</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-auto">
                                        <div class="card bg-warning mw-100">
                                            <div class="card-header mt-1">
                                                <strong class="text-primary">Upload cover/banner image:</strong>
                                            </div>
                                            <div class="card-body m-0 p-1">
                                                <div class="input-group">
                                                    <input #imageInput type="file" accept="image/*" (change)="fileSelect($event, serial.id, true)" class="form-control" id="fileInput">
                                                </div>
                                            </div>
                                            <div class="card-body p-2">
                                                <div class="d-flex justify-content-center">
                                                    <img [src]="'https://localhost:7286/Serials/images/' + serial.title" id="imageDisplay" class="img-fluid imgPrev" alt="Loading cover image...">
                                                </div>
                                                <small class="text-center d-block mt-2">
                                                    Uploaded images will be resized and saved in .png format.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col m-0">
                                        <div class="row">
                                            <label class="mb-3 ps-0" for="desc">Description/Blurb:</label>
                                        </div>
                                        <div class="row pe-2">
                                            <textarea name="description" id="desc" [(ngModel)]="serial.description" class="form-control" rows="14"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-1 align-items-center">
                                    <div *ngIf="!deleting && !modifying && !approving">
                                        <div class="col  my-1">
                                            <button class="btn btn-danger form-control" (click)="approveSerial(serial.id, false)">Revoke Approval</button>
                                        </div>
                                        <div class="col my-1">
                                            <button class="btn btn-warning form-control" (click)="modifySerial(serial)">Modify</button>
                                        </div>
                                        <div class="col my-1">
                                            <button class="btn btn-danger form-control" (click)="deleteSerial(serial.id)">Delete</button>
                                        </div>
                                    </div>
                                    <div *ngIf="approving" class="d-flex align-items-center me-5 my-2" role="status">
                                        <div class="me-1">Approving...</div>
                                        <div class="spinner-border text-success spinner-border-sm"></div>
                                    </div>
                                    <div *ngIf="modifying" class="d-flex align-items-center me-5 my-2" role="status">
                                        <div class="me-1">Modifying...</div>
                                        <div class="spinner-border text-warning spinner-border-sm"></div>
                                    </div>
                                    <div *ngIf="addingChs" class="d-flex align-items-center me-5 my-2" role="status">
                                        <div class="me-1">Adding chapters...</div>
                                        <div class="spinner-border text-primary spinner-border-sm"></div>
                                    </div>
                                    <div *ngIf="deleting" class="d-flex align-items-center me-5 my-2" role="status">
                                        <div class="me-1">Updating...</div>
                                        <div class="spinner-border text-danger spinner-border-sm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>