.title-false{
    background-color: pink;
}
.title-true {
    background-color: lightgreen;
    color: black;
}
body{
    overflow:visible;
}

.imgContainer{
    overflow:hidden !important;
}

.imgPrev{
    max-width: 100%;
    max-width: 500px;
    max-height: 500px;
}