<div class="conatiner main">
    <div id="main" class="container d-flex justify-content-center h-100 w-100">
        <div class="m-1 h-75 w-75 bg-secondary-subtle border border-3 border-secondary-subtle rounded-3">
            <h3 class="text-center">Change Password</h3>
            <div class="container p-3">
                <div class="form-floating mb-3">
                    <input #oldPass type="password" class="form-control" id="oldPass" placeholder="">
                    <label for="oldPass">Old password</label>
                </div>
                <div class="form-floating">
                    <input #pass1 type="password" (blur)="pass2.value != '' ? passwordCheck(pass1.value, pass2.value) : null" [ngClass]="{'border border-danger' : !passMatch}" class="form-control" id="floatingPass2">
                    <label for="floatingPass2">New password</label>
                </div>
                <div class="form-floating">
                    <input #pass2 type="password" (blur)="pass1.value != '' ? passwordCheck(pass1.value, pass2.value) : null" [ngClass]="{'border border-danger' : !passMatch}" class="form-control" id="floatingPass2">
                    <label for="floatingPass2">Repeat new password</label>
                </div>
                <div *ngIf="!passMatch" class="alert alert-danger mt-2">
                    <label class="form-label text-danger">The passwords must match</label>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mb-2">
                <div class="btn btn-secondary" [routerLink]="['/home']">Back</div>
                <div *ngIf="isLoading" class="mt-2" role="status">
                    <div class="me-1">Loading...
                        <div class="spinner-border text-primary spinner-border-sm"></div>
                    </div>
                </div>
                <div *ngIf="!isLoading">
                    <div class="btn btn-success">Change Password</div>
                </div>
            </div>
        </div>
    </div>
</div>