<div class="conatiner main">
    <div class="container newSerial my-2">
        <h4>New Serial:</h4>
        <div class="container border bg-secondary-subtle border-info-subtle border-3 rounded-2 ">
            <div class="row align-items-center my-2 p-1">
                <div class="col-auto">
                    <label for="title">Title:<b class="text-danger">*</b></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="title" class="form-control" (ngModelChange)="isDataMissing()" [(ngModel)]="newSerial.title">
                </div>
                <div class="col-auto">
                    <p class="m-1">Author's Name:<b class="text-danger">*</b></p>
                </div>
                <div class="col-md-3 flex-grow-1">
                    <input type="text" id="authorName" class="form-control" [(ngModel)]="newSerial.authorName">
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-auto">
                    <label for="homePg">Home Page:<b class="text-danger">*</b></label>
                </div>
                <div class="col-md-10 flex-grow-1">
                    <input type="text" class="form-control" id="homePg" (ngModelChange)="isDataMissing()" [(ngModel)]="newSerial.home">
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-auto">
                    <label for="titleXP">Title XPath:<b class="text-danger">*</b></label>
                </div>
                <div class="col-md-10 flex-grow-1">
                    <input type="text" class="form-control" (ngModelChange)="isDataMissing()" [(ngModel)]="newSerial.titleXPath">
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-auto">
                    <label for="firstCh">First Chapter Link:<b class="text-danger">*</b></label>
                </div>
                <div class="col-md-8 flex-grow-1">
                    <input type="text" id="firstCh" class="form-control" (ngModelChange)="isDataMissing()" [(ngModel)]="newSerial.firstCh">
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-auto">
                    <label for="XPath1">Next Chapter XPath:<b class="text-danger">*</b></label>
                </div>
                <div class="col-md-8 flex-grow-1">
                    <input type="text" id="XPath1" class="form-control" (ngModelChange)="isDataMissing()" [(ngModel)]="newSerial.nextChLinkXPath">
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-auto">
                    <label for="XPath2">Secondary Next Chapter XPath:</label>
                </div>
                <div class="col-md-8 flex-grow-1">
                    <input type="text" id="XPath2" class="form-control" (ngModelChange)="isDataMissing()" [(ngModel)]="newSerial.secondaryNextChLinkXPath">
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-auto">
                    <label for="XPath3">Other Next Chapter XPath:</label>
                </div>
                <div class="col-md-8 flex-grow-1">
                    <input type="text" id="XPath3" class="form-control" (ngModelChange)="isDataMissing()" [(ngModel)]="newSerial.otherNextChLinkXPaths">
                </div>
            </div>
            <div class="row align-items-center my-2">
                <div class="col-auto">
                    <label for="XPath3">Status:<b class="text-danger">*</b></label>
                </div>
                <div class="col-md-8 flex-grow-1">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="radiobtn" id="completed" autocomplete="off" (ngModelChange)="isDataMissing()" #complete [(ngModel)]="newSerial.status" value="1">
                        <label class="btn btn-outline-primary" for="completed">Completed</label>
                    
                        <input type="radio" class="btn-check" name="radiobtn" id="ongoing" autocomplete="off" (ngModelChange)="isDataMissing()" #ongoing [(ngModel)]="newSerial.status" value="2">
                        <label class="btn btn-outline-primary" for="ongoing">Ongoing</label>
                    
                        <input type="radio" class="btn-check" name="radiobtn" id="hiatus" autocomplete="off" (ngModelChange)="isDataMissing()" #hiatus [(ngModel)]="newSerial.status" value="3">
                        <label class="btn btn-outline-primary" for="hiatus">Hiatus</label>

                        <input type="radio" class="btn-check" name="radiobtn" id="abandoned" autocomplete="off" (ngModelChange)="isDataMissing()" #abandoned [(ngModel)]="newSerial.status" value="4">
                        <label class="btn btn-outline-primary" for="abandoned">Abandoned</label>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-auto">
                    <div class="card bg-warning mw-100">
                        <div class="card-header mt-1">
                            <strong class="text-primary">Upload cover/banner image:</strong>
                        </div>
                        <div class="card-body m-0 p-1">
                            <div class="input-group">
                                <input #imageInput type="file" accept="image/*" (change)="fileSelect($event, imageDisplay)" class="form-control" id="fileInput">
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="d-flex justify-content-center">
                                <img [src]="imagePath" #imageDisplay class="img-fluid imgPrev" alt="nothing yet">
                            </div>
                            <small class="text-center d-block mt-2">
                                Uploaded images will be resized and saved in .png format.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col m-0">
                    <div class="row">
                        <label class="mb-3 ps-0" for="desc">Description/Blurb:</label>
                    </div>
                    <div class="row pe-2">
                        <textarea name="description" id="desc" class="form-control" rows="14"></textarea>
                    </div>
                </div>
            </div>
            <div class="row my-2 align-items-center">
                <div class="col my-1">
                    <div class="alert alert-info text-primary">Fields marked by <b class="text-danger">*</b> are required to add a new serial.</div>
                    <div *ngIf="isAdding" class="d-flex align-items-center me-5 mb-2" role="status">
                        <strong class="me-1">Adding serial chapters...</strong>
                        <div class="spinner-border text-info"></div>
                    </div>
                    <div *ngIf="errorAdding" class="d-flex align-items-center me-5 mb-2" role="status">
                        <div class="alert alert-danger text-danger">An error occured while adding the serial. Check the details, and try again!</div>
                    </div>
                    <button *ngIf="!isAdding" class="btn btn-primary form-control" [ngClass]="{'disabled' : missingData}" (click)="addSerial()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>