<div class="container p-2 mt-5">
    <div id="title">
        <h2>{{serial.title}}</h2>
        <p>By - {{serial.author.name}}</p>
    </div>
    <div class="broad p-2 container m-1">
        <div class="row">
            <div class="col-sm-auto d-flex justify-content-center">
                <div id="imageDisplay" class="border border-primary">
                    <img src="" alt="placeholder">
                </div>
            </div>
            <div class="col p-2 align-self-end">
                <div id="description" class="row">
                    {{ descExpanded ? text : (text | slice:0:1550) + '...' }}
                </div>
                <div class="row m-0">
                    <a (click)="toggleDesc()" class="clickable text-end text-decoration-none pe-3">{{ descExpanded ? "Show Less..." : "Show More..." }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container border border-secondary rounded-4 p-2 m-1">
        <h4>Stats</h4>
        <div class="row">
            <div class="col mx-3">
                <div class="row">
                    Number of chapters: {{serial.chapters.length}}
                </div>
                <div class="row">
                    Status: {{serial.status == "1" ? "Ongoing" : serial.status == "2" ? "Completed" : serial.status == "3" ? "Hiatus" : serial.status == "4" ? "Abandoned" : "Unknown"}}
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="row">
                    <a [href]="serial.home">Start Reading!</a>
                </div>
                <div class="row">
                    <div *ngIf="true">
                        <i class="bi bi-star border border-warning bg-warning-subtle rounded-3 text-warning clickable" (click)="likeSerial(serial.id)"><span class="text-body"> Follow serial!</span></i>
                    </div>
                    <div *ngIf="true">
                        <i class="bi bi-star-fill border border-warning bg-warning-subtle rounded-3 text-warning clickable" (click)="likeSerial(serial.id)"><span class="text-body"> Unfollow serial!</span></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chapters border rounded-3 p-1 m-1">
        <h4>Chapters</h4>
        <div *ngFor="let chapter of serial.chapters.slice((currentPage - 1) * 3, currentPage * 3)">
            <div class="card m-1 p-2">
                <div class="row">
                    <div class="col">
                        <span class="float-start">{{chapter.title}}</span>
                    </div>
                    <div class="col-auto">
                        <span class="float-end"><a [href]="chapter.link">Read</a></span>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link clickable user-select-none" [class.disabled]="currentPage == 1" (click)="prevPage()">Previous</a></li>
                <li *ngFor="let page of [].constructor(pageNum); let i = index" class="page-item" [class.active]="i+1 == currentPage">
                    <a class="page-link clickable user-select-none" (click)="jumpPage(i + 1)">{{i+1}}</a>
                </li>
                <li class="page-item"><a class="page-link clickable user-select-none" [class.disabled]="currentPage == pageNum" (click)="nextPage()">Next</a></li>
            </ul>
        </nav>
    </div>
</div>