#imageDisplay{
    width: 16rem !important;
    height: 24rem !important;
}

.collapse {
    &:not(.show) {
      height: 24rem;
      display: contents;
    }
}
.collapsing{
    height: 24rem;
}

.clickable{
    cursor: pointer;
}