<div class="container p-2">
    <div class="input-group mb-3 text-items-center">
        <label class="input-group-text" for="fileInput">Upload</label>
        <input #imageInput type="file" accept="image/*" (change)="fileSelect($event, imageDisplay)" class="form-control" id="fileInput">
    </div>
    <div class="container">
        <div class="m-2" style="width: 25%; height: 25%;">
            <img [src]="imagePath" #imageDisplay class="my-2 me-2 mw-100 mh-100" alt="nothing yet">
        </div>
    </div>
    <div class="btn btn-info" [ngClass]="{'disabled' : imageDataUri == null}" (click)="saveImage(imageInput)">Save Image</div>
</div>