<div class="conatiner main">
    <div class="home">
        <div class="d-flex justify-content-between align-items-end">
          <div>
            <h4 class="ms-5">New Releases</h4>
          </div>
          <div>
            <div *ngIf="isUpdating" class="d-flex align-items-center me-5 mb-2" role="status">
              <div class="me-1">Updating...</div>
              <div class="spinner-border text-success spinner-border-sm"></div>
            </div>
            <button *ngIf="!isUpdating" class="btn btn-success btn-sm me-5 mb-2" id="updateAll" (click)="updateAll()">Update All Serials</button>
          </div>
        </div>
        <div class="newReleases ms-5 me-5 border border-secondary-subtle border-3 rounded-4 p-2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col-5" *ngFor="let chapter of reviewedSerialChapters | slice:-5">
                    <div class="col">
                      <div class="card p-1 h-100 w-100">
                        <div class="card-body">
                          <h5 class="card-title">
                              <a class="link-opacity-75-hover" href="{{chapter?.link}}" target="_blank">{{chapter?.title}}</a>
                          </h5>
                          <p>--------------</p>
                          <ng-container *ngIf="getSerial(chapter?.serialId) as serial">
                            <a class="link-opacity-50-hover" href="{{serial.home}}">
                              <h6 class="">{{serial.title}}</h6>
                            </a>
                            <p class="">by {{serial.author.name}}</p>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="ms-5 my-3">Recently Added</h4>
        <div class="recentlyAdded ms-5 me-5 border border-secondary-subtle border-3 rounded-4 p-2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col-5" *ngFor="let serial of reviewedSerials | slice:-5">
                    <div class="col">
                        <div class="card p-1 h-100 w-100">
                          <div class="card-body">
                            <h5 class="card-title">
                              <a class="link-opacity-75-hover" href="{{serial.home}}" target="_blank">{{serial.title}}</a>
                              <p class="">by {{serial.author.name}}</p>
                            </h5>
                            <ng-container *ngIf="getSerialChaptersCount(serial.id) as chNum">
                                <p>with {{chNum}} chapters</p>
                            </ng-container>
                            <div class="card-link">
                              <a href="{{serial.firstCh}}" target="_blank">Start Reading</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>