<div class="conatiner main">
    <div class="home">
        <div class="d-flex justify-content-between align-items-end">
          <div>
            <h4 class="ms-5">New Releases</h4>
          </div>
          <div>
            <div *ngIf="isUpdating" class="d-flex align-items-center me-5 mb-2" role="status">
              <div class="me-1">Updating...</div>
              <div class="spinner-border text-success spinner-border-sm"></div>
            </div>
            <button *ngIf="!isUpdating" class="btn btn-success btn-sm me-5 mb-2" id="updateAll" (click)="updateAll()">Update All Serials</button>
          </div>
        </div>
        <div class="newReleases ms-5 me-5 border border-secondary-subtle border-3 rounded-4 p-2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col-5" *ngFor="let chapter of reviewedSerialChapters | slice:-5">
                    <div class="col">
                      <div class="card p-1 h-100 w-100">
                        <img [src]="'https://localhost:7286/Serials/images/' + getSerial(chapter.serialId)!.title" class="card-img-top">
                        <div class="card-body">
                          <h5 class="card-title">
                              <a class="link-opacity-75-hover" href="{{chapter.link}}" target="_blank">{{chapter.title}}</a>
                          </h5>
                          <p>--------------</p>
                          <ng-container *ngIf="getSerial(chapter?.serialId) as serial">
                            <h6 class=""><a class="link-opacity-50-hover me-2" [routerLink]="['/serialDetails/' + serial.id]">{{serial.title}}</a>
                              <div *ngIf="!serial.liked && !liking">
                                <i class="bi bi-star rounded-3 text-warning clickable" (click)="likeSerial(serial)" ngbTooltip="Follow serial!"></i>
                              </div>
                              <div *ngIf="serial.liked && !liking">
                                <i class="bi bi-star-fill rounded-3 text-warning clickable" (click)="likeSerial(serial)" ngbTooltip="Unfollow serial!"></i>
                              </div>
                              <div *ngIf="liking">
                                <div class="spinner-border text-warning spinner-border-sm"></div>
                              </div>
                            </h6>
                            <p class="">by <a class="clickable text-decoration-none" [routerLink]="['/results']" [queryParams]="{au: serial.author.name}">
                              {{serial.author.name}}</a>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <a class="" [routerLink]="['/results']" [queryParams]="{updateO: false}">More New Releases...</a>
        </div>
        <h4 class="ms-5 my-3 text-center">Recently Added</h4>
        <div class="recentlyAdded ms-5 me-5 mb-5 border border-secondary-subtle border-3 rounded-4 p-2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col-5" *ngFor="let serial of reviewedSerials | slice:-5">
                    <div class="col">
                        <div class="card p-1 h-100 w-100">
                          <img [src]="'https://localhost:7286/Serials/images/' + serial.title" class="card-img-top">
                          <div class="card-body">
                            <h5 class="card-title">
                              <a class="link-opacity-75-hover me-2" [routerLink]="['/serialDetails/' + serial.id]">{{serial.title}}</a>
                              <div *ngIf="!serial.liked && !liking">
                                <i class="bi bi-star rounded-3 text-warning clickable" (click)="likeSerial(serial)" ngbTooltip="Follow serial!"></i>
                              </div>
                              <div *ngIf="serial.liked && !liking">
                                <i class="bi bi-star-fill rounded-3 text-warning clickable" (click)="likeSerial(serial)" ngbTooltip="Unfollow serial!"></i>
                              </div>
                              <div *ngIf="liking">
                                <div class="spinner-border text-warning spinner-border-sm"></div>
                              </div>
                            </h5>
                            <h6>
                              <p class="">by <a class="clickable text-decoration-none" [routerLink]="['/results']" [queryParams]="{au: serial.author.name}">
                                  {{serial.author.name}}
                                </a>
                              </p>
                            </h6>
                            <ng-container *ngIf="getSerialChaptersCount(serial.id) as chNum">
                                <p>with {{chNum}} chapters</p>
                            </ng-container>
                            <div class="card-link">
                              <a href="{{serial.firstCh}}" target="_blank">Start Reading</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="" [routerLink]="['/results']" [queryParams]="{addedO: true}">More Recently Added...</a>
        </div>
        <h4 class="ms-5 my-3 text-center">Followed Serials</h4>
        <div *ngIf="loggedin; else notLogged">
          <div class="followed ms-5 me-5 mb-5 border border-secondary-subtle border-3 rounded-4 p-2">
            <div *ngIf="likedSerials.length != 0; else goAndLike">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col-5" *ngFor="let serial of likedSerials | slice:-5">
                  <div class="col">
                    <div class="card p-1 h-100 w-100">
                      <img [src]="'https://localhost:7286/Serials/images/' + serial.title" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title">
                          <a class="link-opacity-75-hover me-2" [routerLink]="['/serialDetails/' + serial.id]">{{serial.title}}</a>
                          <div *ngIf="!liking">
                            <i class="bi bi-star-fill rounded-3 text-warning clickable" (click)="likeSerial(serial)" ngbTooltip="Unfollow serial!"></i>
                          </div>
                          <div *ngIf="liking">
                            <div class="spinner-border text-warning spinner-border-sm"></div>
                          </div>
                        </h5>
                        <h6>
                          <p class="">by <a class="clickable text-decoration-none" [routerLink]="['/results']" [queryParams]="{au: serial.author.name}">
                              {{serial.author.name}}
                            </a>
                          </p>
                        </h6>
                        <ng-container *ngIf="getSerialChaptersCount(serial.id) as chNum">
                            <p>with {{chNum}} chapters</p>
                        </ng-container>
                        <div class="card-link">
                          <a href="{{serial.firstCh}}" target="_blank">Start Reading</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="" [routerLink]="['/results']" [queryParams]="{liked: true}">All Followed Serials...</a>
            </div>
            <ng-template #goAndLike>
              <p class="text-center">Follow serials for them to show up on your home page!</p>
            </ng-template>
          </div>
        </div>
        <ng-template #notLogged>
          <div class="followed ms-5 me-5 mb-5 border border-secondary-subtle border-3 text-center rounded-4 p-2">
            <span class="text-center">Login to see your followed serials!</span>
          </div>
        </ng-template>
    </div>
</div>